
$sm-button-padding: 16px !default;
$sm-button-width: 60px !default;
$sm-button-border-radius: 4px;
$sm-button-line-height: 34px !default;
$sm-button-height: 40px !default;
$sm-button-icon-roudend: 20em !default;

@mixin base-button() {
    outline: 0;
    text-decoration: none;
    vertical-align: baseline;
    border: none;
    position: relative;
    color: inherit;
    cursor: pointer;
    &:focus
    ,&:active {
      outline: 0;
    }
}
@mixin base-button-icon() {
  line-height: 24px;

}

.sm-button {

    padding: 0 $sm-button-padding;
    line-height: $sm-button-line-height;
    border-radius: $sm-button-border-radius;
    min-width: $sm-button-width;
    display: block;
    @include base-button;
    @include sm-elevation;
    text-align: center;
    white-space: nowrap;

    &.sm-icon-button {
      width: $sm-button-height;
      height: $sm-button-height;
      border-radius: $sm-button-icon-roudend;
      min-width: 0;
      box-shadow: none;
      & > * {
        vertical-align: middle;
      }
      .sm-wrapper-button-label {
        sm-icon {
          width: 24px;
          height: 25px;
        }
      }
    }
    &.sm-link-button {
      box-shadow: none;
    }

    &.sm-round-button {
      border-radius: 20px;
      box-shadow: none;
    }
}
.sm-wrapper-button-label {
  display: flex;
  align-items: center;
  justify-content: center;
  sm-icon {
    margin-right: 5px;
  }
}
.sm-button.sm-button-disabled:disabled {
  cursor: no-drop;
  opacity: .5;
}
.sm-button:active,
.sm-button:focus {
  outline: 0;
}
.sm-buttom-ripple.sm-ripple {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}
.sm-button-right-input {
  position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: row;
    right: 0;
    top: 5px;
    align-items: center;
}